* {
    margin: 0px;
    padding: 0px;
}

.inputDiv {
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 3%
}

.imagesDiv {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pokeImage {
    width: 30%;
    height: 30%;
}

.infoDiv {
    width:50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
